:root {
    --primary : #4A90E2;
    --bg-header: #50E3C2;
    --secondary: #F2D1B3;
    --bg :#F2F2F2;
}

.navbar {
    padding: 15px;
    font-size: 1.5em;
}

.navbar .container-fluid, .navbar a, .navbar {
    background: var(--bg-header);
    color: var(--primary);
}

.navbar-nav .nav-link.active{
    color: aliceblue;
}